<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 引用db.properties配置文件 -->
  <properties resource="db.properties"/>

  <settings>
    <!-- 启动log4j日志 -->
		<setting name="logImpl" value="LOG4J"/>  
    <!-- 将延迟加载设置为true（可省略，因为默认值就是true）-->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 将立即加载设置为false -->
    <setting name="aggressiveLazyLoading" value="false"/>
	</settings>

  <!--为实体类，定义别名 -->
  <typeAliases>
    <package name="org.lanqiao.entity" />
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 配置数据库的连接信息 -->
      <dataSource type="POOLED">
        <property name="driver" value="${mysql.driver}"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="org/lanqiao/mapper/EmployeeMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/DepartmentMapper.xml"/>
  </mappers>
</configuration>