<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引用db.properties配置文件 -->
    <properties resource="db.properties"/>

    <settings>
        <!-- 启动 log4j 日志 -->
		<setting name="logImpl" value="LOG4J"/>  
	</settings>

    <!-- 别名的定义 -->
    <typeAliases>
        <package name="org.lanqiao.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <!-- value属性值：引用db.properties中的参数值 -->
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <!-- 在配置文件（mybatis-config.xml）中注册SQL映射文件（StudentMapper.xml）-->
    <mappers>
        <mapper resource="org/lanqiao/mapper/EmployeeMapper.xml" />
        <mapper resource="org/lanqiao/mapper/DepartmentMapper.xml" />
    </mappers>
</configuration>