<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!--添加 servlet 映射-->
  <servlet>
      <servlet-name>SelectServlet</servlet-name>
      <servlet-class>org.lanqiao.servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SelectServlet</servlet-name>
      <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
</web-app>